<header>
  <p>
    {{title}}
  </p>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12" *ngFor="let j of keyz">{{j}}</div>
  </div>
  <div class="row" *ngFor="let i of employees">
    <div class="col-1"><label for="active">Active?</label>
      <input id="active" type="checkbox" [(ngModel)]="i.isActive" name="active"
        ng-checked="i.isActive==true"></div>
    <div class="col-1"><input [(ngModel)]="i.balance"></div>
    <div class="col-1"><input [(ngModel)]="i.age"></div>
    <div class="col-2"><input [(ngModel)]="i.name.first+i.name.last"></div>
    <div class="col-1"><input [(ngModel)]="i.company"></div>
    <div class="col-4"><input [(ngModel)]="i.email"></div>
    <div class="col-2"><input [(ngModel)]="i.phone"></div>
    <div class="col-2"><input [(ngModel)]="i.address"></div>
  </div>
</div>
<button (click)="tableHeadKeys()">Katt</button>
